In [1]:
from langchain import HuggingFaceHub,PromptTemplate,LLMChain
import os
import pandas as pd

In [2]:
API_TOKEN = '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'

In [3]:
model_id = 'tiiuae/falcon-7b-instruct'
falcon_model = HuggingFaceHub(repo_id = model_id,
                             model_kwargs={"temperature":0.3,
                                          "max_new_tokens":1000},
                             huggingfacehub_api_token = API_TOKEN
                             )

In [5]:
os.chdir('C://Users//MelvinM//Downloads//hackathon')
df = pd.read_csv('train.csv')
sample_data = df.head(30)
sample_data_df = sample_data[['date', 'bloomberg_ticker', 'open', 'high', 'low', 'close', 'adj_close',
       'volume', 'currency', 'provider', 'created_at']]
sample_data = sample_data_df.to_csv(index=False)
len(sample_data_df)

30

In [30]:
questions = '''
1. What are the fields available in the data?
2. Is there any NULL values available?
3. What is the mean of the numerical fields?
'''

template = """{data} 
The data given above is a csv data with ',' separated values. The first row is the column names. Each row is separated using a new line character or \n
With this data answer all the following questions. Provide answers for each question in separate line with a line break
{question}
"""

In [31]:
prompt = PromptTemplate(template=template,input_variables=['data','question'])

In [32]:
falcon_chain = LLMChain(prompt = prompt,llm=falcon_model,verbose=True)

In [33]:
falcon_chain.run({'data':sample_data,'question':questions})

> Entering new LLMChain chain...
Prompt after formatting:
date,bloomberg_ticker,open,high,low,close,adj_close,volume,currency,provider,created_at
2003-03-14,000270 KS,7010.0,7150.0,6900.0,6950.0,4723.914,1619600.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-03-21,000270 KS,7690.0,7800.0,7510.0,7750.0,5267.6743,1926700.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-03-28,000270 KS,7320.0,7400.0,7190.0,7370.0,5009.3877,985100.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-04-04,000270 KS,7170.0,7500.0,7070.0,7500.0,5097.7485,1958400.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-04-11,000270 KS,8030.0,8230.0,7850.0,8060.0,5478.3804,1773800.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-04-18,000270 KS,8900.0,9030.0,8840.0,9000.0,6117.2983,1821900.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-04-25,000270 KS,8210.0,8210.0,7700.0,7890.0,5362.832,1559200.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-05-02,000270 KS,8430.0,8530.0,8050.0,8450.0,5743.464,1159700.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-05-09,000270 KS,8400.0,8460.0,8350.0,8440.0,5736.6675,880500.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-05-16,000270 KS,8920.0,8970.0,8630.0,8690.0,5906.5923,1777700.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-05-23,000270 KS,8620.0,8680.0,8550.0,8650.0,5879.403,849300.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-05-30,000270 KS,8890.0,8900.0,8730.0,8880.0,6035.736,1072200.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-06-06,000270 KS,8980.0,8980.0,8980.0,8980.0,6103.7046,0.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-06-13,000270 KS,8860.0,8880.0,8510.0,8630.0,5865.809,1743700.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-06-20,000270 KS,8950.0,9380.0,8950.0,9300.0,6321.2085,2316400.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-06-27,000270 KS,9000.0,9190.0,8990.0,9100.0,6185.2676,796900.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-07-04,000270 KS,9480.0,9600.0,9350.0,9600.0,6525.118,1195000.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-07-11,000270 KS,9090.0,9430.0,9090.0,9400.0,6389.1787,823300.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-07-18,000270 KS,9090.0,9090.0,8910.0,9000.0,6117.2983,604400.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-07-25,000270 KS,8620.0,8740.0,8530.0,8600.0,5845.419,465500.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-08-01,000270 KS,9040.0,9290.0,9040.0,9130.0,6205.659,491400.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-08-08,000270 KS,8500.0,8580.0,8430.0,8490.0,5770.652,329300.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-08-15,000270 KS,8600.0,8600.0,8600.0,8600.0,5845.419,0.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-08-22,000270 KS,9290.0,9440.0,9130.0,9160.0,6226.051,1079300.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-08-29,000270 KS,8980.0,9160.0,8980.0,9130.0,6205.659,1034000.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-09-05,000270 KS,9270.0,9310.0,9150.0,9170.0,6232.8467,1312000.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-09-12,000270 KS,9040.0,9040.0,9040.0,9040.0,6144.487,0.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-09-19,000270 KS,8950.0,9010.0,8690.0,8750.0,5947.3735,1141700.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-09-26,000270 KS,8100.0,8180.0,8000.0,8000.0,5437.5986,1080600.0,KRW,yahoo,2023-06-03 11:22:01.050856
2003-10-03,000270 KS,8000.0,8000.0,8000.0,8000.0,5437.5986,0.0,KRW,yahoo,2023-06-03 11:22:01.050856

The data given above is a csv data with ',' separated values. The first row is the column names. Each row is separated using a new line character or

With this data answer all the following questions. Provide answers for each question in separate line with a line break

1. What are the fields available in the data?
2. Is there any NULL values available?
3. What is the mean of the numerical fields?



> Finished chain.

'<p>1. What are the fields available in the data?</p>\n\n<p>The fields available in the data are:</p>\n\n<ul>\n<li>Korea</li>\n<li>Korean</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li>Korea</li>\n<li'

In [37]:
sample_data_df.to_csv('sample_data.csv',index=False)

In [20]:
from IPython.core.display import display, HTML
display(HTML('\n1. The fields available in the data are:\n\n- Date: 2003-06-03\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n- KS: KS (Korean Stock Exchange)\n\n\n2. Yes, there are NULL values in the data.\n\n1. The fields available in the data are:\n- Date: 2003-06-03\n- KS (Korean Stock Exchange)\n- KS (Korean Stock Exchange)\n\n\n1. Yes, there are NULL values in the data.'))

C:\Users\MelvinM\AppData\Local\Temp\ipykernel_28892\1812644925.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML